body {
    margin: 0;
    font-family: 'baskerville';
}

/*css for menu*/
.menu a {
    text-decoration: none;
    color: #5F8B80;
    margin: 20px;
    float: left;
}

.menu a:active {
    color: #294525;
    font-weight: bold;
    text-decoration: underline;
}

.menu a:hover {
    color: #294525;
    font-weight: bold;
}

.logo {
    margin: 12px !important;
}

.menu form {
    padding: 10px;

    font-weight: 20px;
    border-radius: 10px;
    color: #5F8B80;
    background-color: #ffffff;
    border: 1px solid #5F8B80;
    vertical-align: middle;
    width: 80%;
}

.menu input {
    border: none;
}

.menu td {
    vertical-align: middle;
}

.menu td:nth-child(2) {
    margin-left: 50px;
}

.menu span {
    float: right;
}



/*css for categories*/
.category {
    margin-top: 60px;

    margin-left: 50px;
    margin-right: 50px;
}

.color_1 {
    color: #5F8B80;
    font-size: 28px;
}

.color_2 {
    color: #294525;
    font-size: 28px;
}

.category_images td {
    padding: 20px;
}

.category_images img {
    border-radius: 180px;
}

.category a {
    text-decoration: none;
    color: #5F8B80;
}

.category a:hover>p {
    color: #294525;
    text-decoration: underline;
    font-weight: bold;
}

.category a:hover>img {
    border: 5px solid #294525;
}


/*css category - Multigrain */
.c_mg {
    margin-top: 60px;
    margin-left: 50px;
    margin-right: 50px;
}

.c_mg a {
    text-decoration: none;
    color: #5F8B80;
}

.c_list a:hover>img {
    border: 5px solid #294525;
}

.c_mg td {
    padding: 20px;
}

.c_list {
    background-color: #fdfdfd;
    border-radius: 10px;
}

.rec_list {
    padding: 10px 20px 10px 20px;
}

/*.rec_list a:hover{
    background-color: #294525;
    font-weight: bold;
    color:#fdfdfd;
    border: 2px solid #294525;
}*/

.c_list p {
    margin-bottom: 5px;
    margin-top: 5px;
}

/*Footer*/
.footer {
    padding: 20px;
    margin-top: 60px;
    text-align: center;
    background-color: #294525;
    color: #fdfdfd;
}